<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.tasomaniac.muzei.earthview">

  <uses-permission android:name="android.permission.INTERNET" />

  <!-- Required by RemoteMuzeiArtSource -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.Muzei.EarthView"
    android:supportsRtl="false">

    <service
      android:name=".EarthViewArtSource"
      android:description="@string/source_description"
      android:icon="@drawable/ic_source_earthview"
      android:label="@string/source_name"
      tools:ignore="ExportedService">
      <intent-filter>
        <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
      </intent-filter>

      <meta-data
        android:name="color"
        android:value="@color/theme_primary" />
      <meta-data
        android:name="settingsActivity"
        android:value="com.tasomaniac.muzei.earthview.settings.SettingsActivity" />
    </service>

    <activity
      android:name=".settings.SettingsActivity"
      android:exported="true"
      android:launchMode="singleTask" />

    <activity-alias
      android:name=".ui.MainActivity"
      android:enabled="true"
      android:targetActivity=".settings.SettingsActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="12d100ee6072b6f8a57cd79b03942ad742ba6916" />
  </application>

</manifest>
